{{- if eq .chezmoi.os "darwin" -}}

#!/bin/bash

set -eufo pipefail

brew install mise
eval "$(mise activate bash --shims)"

{{ if .personal -}}
{{- if env "GH_ACCESS_TOKEN" -}}
MISE_GITHUB_TOKEN={{ env "GH_ACCESS_TOKEN" }} mise install --yes
{{- else -}}
MISE_GITHUB_TOKEN={{ (bitwarden "item" "gh_access_token").notes | trim }} mise install --yes
{{- end -}}
{{ end -}}

{{ end -}}
{{/* vim: set ft=bash ts=2 sw=2 et:  */}}
