# vim:ft=toml ts=4 sw=4 et:
{{- $devcontainer := or (env "REMOTE_CONTAINERS") (env "CODESPACES") (env "VSCODE_REMOTE_CONTAINERS_SESSION") (env "GITPOD_HOST") (env "IS_DEVPOD") | not | not -}}
{{- $interactive := stdinIsATTY -}}
{{- $wsl := and (eq .chezmoi.os "linux") (.chezmoi.kernel.osrelease | lower | contains "microsoft") | not | not -}}
{{- $work_machine := promptBoolOnce . "work_machine" "Is this a work machine" }}

sourceDir = {{ .chezmoi.sourceDir | quote }}

[data]
    name = "arthur"
    is_devcontainer = {{ $devcontainer }}
    is_wsl = {{ $wsl }}
    is_work_machine = {{ $work_machine }}
[edit]
    command = "nvim"
