# vim:ft=toml ts=4 sw=4 et:
{{- $devcontainer := or (env "REMOTE_CONTAINERS") (env "CODESPACES") (env "VSCODE_REMOTE_CONTAINERS_SESSION") (env "GITPOD_HOST") (env "IS_DEVPOD") | not | not -}}
{{- $interactive := stdinIsATTY -}}

sourceDir = {{ .chezmoi.sourceDir | quote }}

[data]
    name = "arthur"
    is_devcontainer = {{ $devcontainer }}

[edit]
    command = "nvim"
