import = [
    "~/.config/alacritty/themes/themes/catppuccin_mocha.toml"
]

{{- if eq .chezmoi.os "darwin" }}
[window]
option_as_alt = "Both"

[font]
normal.family = "JetBrainsMono Nerd Font"
size = 18
{{- end }}
