{{ $sudo := "sudo " -}}
{{ if eq .chezmoi.username "root" -}}
{{   $sudo = "" -}}
{{ end -}}

#!/bin/bash

set -eufo pipefail

{{ $sudo }}sudo usermod -s $(which zsh) $USER
{{/* vim: set ft=bash ts=2 sw=2 et:  */}}
